*{
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.home{
    height: 100vh;
}

.box1{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}

.animate {
    opacity: 0;
    transform: translateX(-100px);
}
.animate.visible {
    transform: translateX(0px);
    transition: 500ms;
    opacity: 1;
}